# Xcode
DerivedData/
build/

# User settings
*.xcuserdata
*.xcuserstate

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS
.DS_Store